<?xml version="1.0" encoding="UTF-8"?>
<!-- -*- mode: XML -*- -->
<launch>
  <arg name="duration" default="60.0"/>
  <arg name="velocity" default="0.2"/>
  <arg name="visualize" default="false"/>
  <arg name="output_file" default="$(find imu_calibration)/config/mag.yaml"/>

  <node name="magnetic_calibrator" pkg="imu_calibration" type="calibrate_mag.py" output="screen" required="true">
    <param name="duration" value="$(arg duration)"/>
    <param name="velocity" value="$(arg velocity)"/>
    <param name="visualize" value="$(arg visualize)"/>
    <param name="output_file" value="$(arg output_file)"/>
  </node>
</launch>
